:root {
  --card-bg: #ffffff;
  --primary-color: #ff6f61;
  --secondary-color: #ffe4e1;
  --text-color: #333333;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --favorite-bg: rgba(255, 255, 255, 0.8);
  --favorite-active: #ff0000;
  --border-radius: 15px;

}

.image-container {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.company-icon {
  width: 80px;
  height: 80px;
}

.toy-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.favorite-button {
  background: var(--favorite-bg);
  border: 2px solid #0f0b0b;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  width: 50px;
  height: 50px;
}

.favorite-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.favorite-button.active {
  color: var(--favorite-active);
  /* border-color: var(--favorite-active); */
}

.favorite-button .cart-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;

}

.company-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: absolute;
  top: 10px;
  right: 70px;
}

.info {
  padding: 15px;
  text-align: center;
}

.toy-title {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 10px 0;
}

.toy-description {
  font-size: 0.9rem;
  color: var(--text-color);
  margin: 5px 0;
}

.toy-price {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.buy-button {
  background-color: var(--primary-color);
  color: rgb(28, 18, 18);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.cart-icon {
  width: 50px;
  height: 50px;
}

.finish {
  display: none;
}